My user id:
<input type="text" name="my-user-id" readonly disabled />

Send message to another user:
<input type="text" name="recipient-user-id" placeholder="recipient user id" />
<input type="text" name="message-text" placeholder="type your message" />
<button type="button" id="broadcast-public">Send Public</button>
<button type="button" id="broadcast-private">Send Private</button>

<p>Socket Messages Go Here:</p>
<div id="socket-messages"></div>
